html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Хедер*/
.phone {
  text-align: center;
}

.nav-icons {
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
}

.nav .nav-link + .nav-link {
  margin-left: 50px;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.line {
  border-bottom: 1px solid var(--border-line);
}

.auth-nav .nav-link + .nav-link {
  margin-left: 50px;
}

.link.link-svg {
  display: flex;
  align-items: center;
}

/*Иконки ссылок навигации*/

/*Шрифты*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-right: 93px;
}

.logo .logo-blue {
  color: var(--text-blue);
}

.logo .logo-white {
  color: var(--text-white);
}

.logo .logo-black {
  color: var(--text-black);
}

/*ссылки, кнопки/main*/

.link,
.link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-dark-gray);
  font-weight: 500;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link-current {
  color: var(--text-blue);
}

.link-svg {
  color: var(--text-gray);
}

/*Герой*/

.hero {
  max-width: 1600px;
  max-height: 600px;
  text-align: center;
  padding-top: 200px;
}

.hero-bcg {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-hero {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;

  color: var(--text-white);
  background-color: var(--btn-blue);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

/*Заголовки секций*/

.hero .hero-title {
  color: var(--text-white);
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin-bottom: var(--value-margin);
}

/*О нас*/

.about-svg {
  padding: 20px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--section-bcg);
}

.section-about {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--value-margin));

  padding-top: 94px;
}

.section-about > .about {
  flex-basis: calc(100% / 4 - var(--value-margin));
  margin-left: var(--value-margin);
  display: inline-block;
}

.section-img {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--value-margin));
  padding-bottom: 94px;
}

.section-img > .section-card {
  flex-basis: calc(100% / 3 - var(--value-margin));
  margin-left: 30px;
}

.section-title {
  color: var(--text-black);
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.img-thumb {
  margin-bottom: 30px;
}

.section .section-subtitle .footer-subtitle {
  color: var(--text-dark-gray);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.section .section-text {
  color: var(--text-gray);
  margin-top: 0;
  margin-bottom: 0;
}

/*Команда*/

.profession {
  display: block;
}

.section-bcg {
  background-color: var(--section-bcg);
}

.section-team {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;

  margin-left: calc(-1 * var(--indent-card));
}

.section-team > .section-cards {
  flex-basis: calc(100% / 4 - var(--indent-card));
  margin-left: var(--indent-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--bcg-white);

  border-radius: 0px 0px 4px 4px;
}

.team {
  color: var(--text-black);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.profession {
  color: var(--text-gray);
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.card-content {
  text-align: center;
}

.social-networks {
  padding-bottom: 30px;
  margin: auto;
  list-style: none;
  display: flex;
}

.social-links {
  display: block;
  margin: auto;
  width: 44px;
  height: 44px;
}

.social-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--border-logo);
}

.social-contacts:hover,
.social-contacts:focus {
  background-color: var(--btn-blue);
  color: var(--text-white);
  border-radius: 50%;
}

.icon-svg {
  fill: currentColor;
}

.icon-svg:hover,
.icon-svg:focus {
  fill: var(--text-white);
}

/*Клиенты*/
.section-clients .section-title {
  padding-top: 65px;
}

.clients-logo .clients-card + .clients-card {
  margin-left: 30px;
}

.clients-logo {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  box-sizing: border-box;
  fill: var(--border-logo);
  border: solid 1px var(--border-logo);
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--btn-blue);
  border: solid 1px var(--btn-blue);
}

/*Портфолио*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.buttons {
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.item:hover,
.item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons .btn-text {
  color: var(--text-dark-gray);
  border: none;
  background: none;
  outline: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.buttons .item {
  text-decoration: none;
  color: var(--text-white);
  background-color: var(--border-card);
  border: none;
  display: inline-block;

  border-radius: 4px;
}

.buttons .item + .item {
  margin-left: 8px;
}

.btn-text:hover,
.btn-text:focus {
  color: var(--text-white);
  background-color: var(--btn-blue);
}

.item:hover,
.item:focus {
  background-color: var(--btn-blue);
}

.projects {
  padding-bottom: 94px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--indent-card));
  margin-top: calc(-1 * var(--indent-card));
}

.projects > .card {
  flex-basis: calc(100% / 3 - var(--indent-card));
  margin-left: var(--indent-card);
  margin-top: var(--indent-card);
  border: 1px solid var(--border-card);
  background: var(--bcg-white);
}

.card-thumb {
  margin-bottom: 20px;
}

.card-text {
  padding: 20px 24px;
}

.projects .projects-title {
  color: var(--text-dark-gray);
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.projects .projects-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--text-gray);
}

.card:focus,
.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Подвал*/
.footer-logo .logo {
  padding-top: 60px;
}

.footer-title {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  color: var(--text-white);
}

.footer {
  background-color: var(--background);
}

.footer-contacts {
  display: inline-block;
}

.footer-logo {
  padding-bottom: 20px;
}

.address .address-link {
  color: var(--text-white-op06);
}

.address .address-text {
  color: var(--text-white);
}

.mail {
  margin: 9px 0;
}

.footer-svg {
  display: flex;
  align-items: center;
}

.footer-social-links {
  display: inline-block;
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--bcg-links);
  border-radius: 50%;
}

.footer-links:focus,
.footer-links:hover {
  background-color: var(--btn-blue);
}

.footer-card {
  fill: var(--text-white);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-svg .f-link + .f-link {
  margin-left: 10px;
}
